<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main_nav">
        <div class="logo">
            <h1 class="logo_name">shopping</h1>
        </div>
        <nav class="nav_div">
            <ul class="list_main">
                <li class="list_items">
                    <a href="#" class="list_link">Home</a>
                </li>
                <li class="list_items">
                    <a href="#" class="list_link">About me</a>
                </li>
                <li class="list_items">
                    <a href="#" class="list_link">Contact</a>
                </li>
                <li class="list_items">
                    <a href="#" class="list_link">Cart</a>
                </li>
                <li class="list_items">
                    <a href="#" class="list_link">Products</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
