.back{
    background-color: blanchedalmond;
    height: 50vh;
}
.all_function{
    background-color: white;
    width: 70vw;
    position: relative;
    text-align: center;
    left: 30vh;
    height: 100%;
}